.app {
  /* width: 700px; */
  margin: auto;
  /* height: 90vh; */
  margin-bottom: 65px;
}
.night {
  background-color: black;
  color: white;
}
.nightMode {
  position: fixed;
  bottom: 80px;
  font-size: 20px;
  color: rgb(255, 123, 0);
  border: 1px solid rgba(0, 0, 0, 0.774);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  /* background: transparent; */
  outline: none;
  margin-left: 20px;
}

@media (max-width: 700px) {
  .app {
    width: 100%;
  }
}
